{% extends "layouts/app.twig" %}

{% block title %} Welcome to Nero {% endblock %}

{% block content %}
    <div id="welcome">
        <h1>Nero</h1>
        <p>It's easy enough to stand still. The difficulty is to walk without touching the ground.</p>
    </div>
{% endblock %}
